@{
    ViewData["Title"] = "Información";
}

<div class="container mainDiv jumbotron">
    <h1>Información de Interes.</h1>
    <br />
    <p>
        Así como los músculos y el cuerpo necesitan de un ejercicio físico diario para su mantenimiento y vitalidad, 
        el cerebro necesita nutrirse con una estimulación constante, se habla entonces de un entrenamiento mental. 
        Por lo tanto, el entrenamiento mental se entiende como el desarrollo de ejercicios prácticos que permiten la
        mejora de habilidades mentales.
        <br /><br />
        Esta cartilla te permitirá reforzar tus destrezas mentales, mediante una serie de ejercicios, de lógica matemática,
        memoria y atención, los cuales aumentarán progresivamente su grado de dificultad. La cartilla de entrenamiento
        tiene una duración de cuatros semanas, cada día contiene tres ejercicios prácticos. Si analizas y respondes honestamente
        cada uno de los problemas, obtendrás los resultados deseados y un avance en tu capacidad intelectual.
        <br /><br />
        Bienvenido al mundo del entrenamiento mental. Atrévete a desafiar tu cerebro mediante todos los ejercicios que
        te proponemos y a superar las pruebas que te planteamos diariamente y así podrás saber qué tan capaz eres de
        retarte y progresar en tus habilidades cognitivas.
    </p>
</div>
<div class="container mainDiv">
    <h1>Instrucciones</h1>
    <br />
    <div class="jumbotron">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
    </div>
</div>
