@{
    ViewData["Title"] = "Inicio";
}


<div id="div1" class="container-fluid">
    <div class="container">
        <h1 class="text-center">Cartilla de Neuroentrenamiento</h1>
        <p class="h4 text-center">Esta cartilla te permitirá reforzar tus destrezas mentales, 
        mediante una serie de ejercicios, de lógica matemática, memoria y atención, los cuales
        aumentarán progresivamente su grado de dificultad.</p>
    </div>

</div>

