body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x:hidden;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@font-face {
    font-family: myFirstFont;
    src: url(/font/Exo2-Light.otf);
}

#div1 {
    background-image: url(/images/general/cerebro.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 550px;
    padding-top: 15%;
    font-family: myFirstFont;
    color:white;
}

#div1 h1 {
    font-size: 3em;
}

#div1 p {
    font-size: 1.8em;
}

.mainDiv{
    font-family:myFirstFont;
}
.mainDiv h1 {
    text-align: center;
}

.mainDiv p {
    text-align: justify;
    font-size: 1.5em;
}

/* Extra Small */
@media(max-width:767px) {
    #div1{
        background-image:none;
        color:black;
    }

    #div1 h1 {
        font-size: 1.9em;
    }

    #div1 p {
        font-size: 1em;
    }

    .mainDiv p {
        font-size: 1em;
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {

}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {
}

/* Large */
@media(min-width:1200px) {

}


/*#div1{
    background-image:url(/images/general/cerebro.jpg);
    background-repeat:no-repeat;
    background-size:100% auto;
    padding-right:unset;
    padding-left:unset;
    //background-position-y:center;
}
#div1 p,h1{
    color:white;
    font-family: sans-serif;
}*/

